
// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default

// Miscellaneous

$easing: ease-out !default
$radius-small: 2px !default
$radius: 3px !default
$radius-large: 5px !default
$radius-rounded: 290486px !default
$speed: 86ms !default

// Flags

$variable-columns: true !default

// Progress
$progress-value-background-color: $grey-light;


$tag-radius: $radius-small;

$card-shadow: 0 2px 3px 0 rgba($grey-light,0.55), 0 0 0 1px rgba($grey-light,0.2);
